#pageIndex {

    /* Index: Header */

    header {
        background-image: url(../assets/header-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        display: flex;
    }

    .headerContent {
        width: 30%;

        h1 {
            margin: 80px 0 100px 0;
        }
    }

    .headerImage {
        width: 70%;
    }

    .headerImage img {
        position: absolute;
        right: 0;
        bottom: -28%;
        width: 60%;
    }

    /* Index: About */

    .about {
        background-color: $dbgrey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    
        .aboutContainer {
            padding: 150px 0 100px;
        }

        p {
            text-align: left;
            margin: 25px 0;
        }
    }

    /* Index: Article */

    .article {
        background-color: $spruce;
        position: relative;
    

        .articleRowOne,
        .articleRowTwo {
            display: flex;
            justify-content: space-between;

        }

        .articleImageOne,
        .articleImageTwo,
        .articleContentOne,
        .articleContentTwo {
            width: 43%;
        }

        .articleImageOne img {
            box-shadow: 30px 30px 0 -5px $robin;
            position: relative;
            top: -135px;
        }

        .articleImageTwo img {
            box-shadow: -30px 30px 0 -5px $robin;
            position: relative;
            bottom: -155px;
        }

        .articleContentOne,
        .articleContentTwo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .articleContentOne {
            padding: 0 200px 0 0;
            margin-left: 60px;
        }

        .articleContentTwo {
            align-items: flex-end;
            padding: 150px 0 0 150px;
            margin-right: 60px;
        }

        .articleContentTwo p {
            text-align: right;
        }

        p {
            text-align: left;
            margin: 25px 0;
        }

        .readMore {
            @include fontSize(2.0rem);
            background-color: $dbgrey;
        }

        .readMore:hover {
            background-color: lighten($dbgrey, 20);
        }

        .readMore:focus {
            border: 1px solid $white;
        }
    }
        
    /* Index: Extra Info */

    .extraInfo {
        background-color: $dbgrey;
    }
        .infoContainer {
            display: flex;
            flex-wrap: wrap;
        }

        .infoContent {
            width: 50%;
            padding: 50px;
        }

        .infoTitle {
            display: flex;
            position: relative;
            align-items: center;
            padding-bottom: 20px;
        }
    
        .infoTitle i {
            font-size: 2rem;
            color: $dbgrey;
            background-color: $robin;
            padding: 15px;
            border-radius: 100%;
            position: absolute;
            left: -80px;
        }

        .infoTitle h4:hover {
            color: darken($white, 30);
        }
    
    /* Banner */

    .banner {
        padding: 0;
    }

    .bannerImage {
        height: 70vh;
        background: url(../assets/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Profile */

    .profile {
        background-color: $dbgrey;

        .profileContainer {
            display: flex;
        }

            .profileImage {
                width: 25%;
                padding-bottom: 50px;
            }
            
            .profileImage img {
                box-shadow: 30px 30px 0 -5px $robin;
            }

            .profileContent {
                width: 75%;
                padding-left: 100px;
            }

            p {
                margin: 25px 0;
            }
        
    }
    
    .gallery {
        background-color: $spruce;

        ul {
            display: flex;
            justify-content: space-between;
        }

            li {
                width: calc(100% / 3);
                margin: 20px;
            }
    }

}
