html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Stripping Styles */
html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

input {
  background: none;
  border: none;
}

input:focus {
  background: white;
  border: 1px solid #86E0F9;
}

/* General Styling */
h1 {
  font-size: 12rem;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  line-height: 126px;
  text-transform: uppercase;
}

h2 {
  font-size: 8rem;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  line-height: 92px;
  text-transform: uppercase;
}

h3 {
  font-size: 4.2rem;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h4 {
  font-size: 3.2rem;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h5 {
  font-size: 2.2rem;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 32px;
}

.buttonStyle {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  color: #0C1423;
  background-color: #86E0F9;
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 10px 25px;
}

.buttonStyle:hover {
  background-color: #cff3fd;
}

.buttonStyle:focus {
  border: 2px solid #FFFFFF;
}

section {
  padding: 100px 0;
}

nav {
  height: 100px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav li {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  line-height: 29px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 20px 30px;
}

nav a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #FFFFFF;
}

nav a:focus {
  color: #86E0F9;
}

nav .toggle {
  width: 77%;
  margin-top: 20px;
  text-align: right;
  position: fixed;
  z-index: 100;
  display: none;
}

nav .hamburger {
  font-size: 3rem;
  padding: 13px 15px;
  height: 60px;
  width: 60px;
  color: #FFFFFF;
  background-color: #86E0F9;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  display: inline-block;
}

.blogForm .commentFlexContainer,
.contactForm .commentFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogForm .commentFlexContainer div,
.contactForm .commentFlexContainer div {
  width: 50%;
}

.blogForm .commentFlexContainer div:first-child,
.contactForm .commentFlexContainer div:first-child {
  margin-right: 20px;
}

.blogForm form,
.contactForm form {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
}

.blogForm form input, .blogForm form textarea,
.contactForm form input,
.contactForm form textarea {
  width: 100%;
  background-color: #0C1423;
  border-bottom: solid 1px #86E0F9;
  color: inherit;
  padding: 20px;
  margin-bottom: 40px;
}

.blogForm form textarea,
.contactForm form textarea {
  border: solid 1px #86E0F9;
  word-wrap: break-word;
  resize: vertical;
}

.blogForm form button,
.contactForm form button {
  width: 100%;
  background-color: #0F614E;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
}

.blogForm form .submitButton,
.contactForm form .submitButton {
  background-color: #0C1423;
}

.contactForm form input, .contactForm form textarea {
  background-color: #0F614E;
}

footer {
  background-color: #86E0F9;
  width: 100%;
  padding: 10px;
}

footer p {
  color: #0C1423;
  text-align: center;
}

#pageIndex {
  /* Index: Header */
  /* Index: About */
  /* Index: Article */
  /* Index: Extra Info */
  /* Banner */
  /* Profile */
}

#pageIndex header {
  background-image: url(../assets/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pageIndex .headerContent {
  width: 30%;
}

#pageIndex .headerContent h1 {
  margin: 80px 0 100px 0;
}

#pageIndex .headerImage {
  width: 70%;
}

#pageIndex .headerImage img {
  position: absolute;
  right: 0;
  bottom: -28%;
  width: 60%;
}

#pageIndex .about {
  background-color: #0C1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#pageIndex .about .aboutContainer {
  padding: 150px 0 100px;
}

#pageIndex .about p {
  text-align: left;
  margin: 25px 0;
}

#pageIndex .article {
  background-color: #0F614E;
  position: relative;
}

#pageIndex .article .articleRowOne,
#pageIndex .article .articleRowTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pageIndex .article .articleImageOne,
#pageIndex .article .articleImageTwo,
#pageIndex .article .articleContentOne,
#pageIndex .article .articleContentTwo {
  width: 43%;
}

#pageIndex .article .articleImageOne img {
  -webkit-box-shadow: 30px 30px 0 -5px #86E0F9;
          box-shadow: 30px 30px 0 -5px #86E0F9;
  position: relative;
  top: -135px;
}

#pageIndex .article .articleImageTwo img {
  -webkit-box-shadow: -30px 30px 0 -5px #86E0F9;
          box-shadow: -30px 30px 0 -5px #86E0F9;
  position: relative;
  bottom: -155px;
}

#pageIndex .article .articleContentOne,
#pageIndex .article .articleContentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#pageIndex .article .articleContentOne {
  padding: 0 200px 0 0;
  margin-left: 60px;
}

#pageIndex .article .articleContentTwo {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 150px 0 0 150px;
  margin-right: 60px;
}

#pageIndex .article .articleContentTwo p {
  text-align: right;
}

#pageIndex .article p {
  text-align: left;
  margin: 25px 0;
}

#pageIndex .article .readMore {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #0C1423;
}

#pageIndex .article .readMore:hover {
  background-color: #263f6f;
}

#pageIndex .article .readMore:focus {
  border: 1px solid #FFFFFF;
}

#pageIndex .extraInfo {
  background-color: #0C1423;
}

#pageIndex .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#pageIndex .infoContent {
  width: 50%;
  padding: 50px;
}

#pageIndex .infoTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

#pageIndex .infoTitle i {
  font-size: 2rem;
  color: #0C1423;
  background-color: #86E0F9;
  padding: 15px;
  border-radius: 100%;
  position: absolute;
  left: -80px;
}

#pageIndex .infoTitle h4:hover {
  color: #b3b3b3;
}

#pageIndex .banner {
  padding: 0;
}

#pageIndex .bannerImage {
  height: 70vh;
  background: url(../assets/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#pageIndex .profile {
  background-color: #0C1423;
}

#pageIndex .profile .profileContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#pageIndex .profile .profileImage {
  width: 25%;
  padding-bottom: 50px;
}

#pageIndex .profile .profileImage img {
  -webkit-box-shadow: 30px 30px 0 -5px #86E0F9;
          box-shadow: 30px 30px 0 -5px #86E0F9;
}

#pageIndex .profile .profileContent {
  width: 75%;
  padding-left: 100px;
}

#pageIndex .profile p {
  margin: 25px 0;
}

#pageIndex .gallery {
  background-color: #0F614E;
}

#pageIndex .gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pageIndex .gallery li {
  width: calc(100% / 3);
  margin: 20px;
}

#pageBlog {
  /* Blog: Header */
  /* Blog: Content */
  /* Blog: Comment */
}

#pageBlog header {
  background-image: url(../assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

#pageBlog h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 150px;
}

#pageBlog main {
  background-color: #0C1423;
  padding-bottom: 60px;
}

#pageBlog .blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}

#pageBlog .blogContainer aside {
  width: 32%;
}

#pageBlog .blogContainer .blogPost {
  width: calc(68% - 90px);
  margin-left: 90px;
  position: relative;
}

#pageBlog .blogContainer .blogImage {
  position: absolute;
  right: -160px;
  top: -370px;
}

#pageBlog .blogContainer .blogImage img {
  -webkit-box-shadow: -30px 30px 0 -5px #86E0F9;
          box-shadow: -30px 30px 0 -5px #86E0F9;
}

#pageBlog .blogContainer .blogArticle {
  padding: 280px 0 40px 50px;
  -webkit-box-shadow: -20px 20px 0 -10px #0C1423, -38px 38px 0 -13px #86E0F9;
          box-shadow: -20px 20px 0 -10px #0C1423, -38px 38px 0 -13px #86E0F9;
}

#pageBlog .blogContainer .blogArticle .timestamp {
  padding: 0;
}

#pageBlog .blogContainer .blogArticle p {
  padding-top: 30px;
}

#pageBlog .blogContainer .sideContainer {
  background-color: #0F614E;
  padding: 420px 10px 10px 10px;
  position: relative;
}

#pageBlog .blogContainer .sideContainer .sideImage {
  position: absolute;
  top: -20px;
  left: -160px;
}

#pageBlog .blogContainer .sideContainer .sideContent {
  padding: 20px;
}

#pageBlog .blogContainer .sideContainer p {
  padding: 10px 0 50px 0;
}

#pageBlog .blogContainer .sideContainer ul {
  padding-top: 20px;
}

#pageBlog .blogContainer .sideContainer ul li {
  list-style-type: disc;
  color: #FFFFFF;
  padding-left: 20px;
}

#pageBlog .blogContainer .sideContainer ul p {
  padding: 0;
}

#pageBlog .blogComment h4 {
  padding: 80px 0 50px 0;
}

#pageBlog .commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

#pageBlog .commentContainer .commentPhoto {
  width: 20%;
}

#pageBlog .commentContainer .commentText {
  width: 80%;
}

#pageBlog .commentContainer .commentText .timestamp {
  padding-bottom: 10px;
}

#pageContact {
  /* Contact: Header */
}

#pageContact header {
  background: url(../assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

#pageContact header h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}

#pageContact main {
  background-color: #0C1423;
  /* Contact: Contact Form */
}

#pageContact main .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 60px 0 100px 0;
}

#pageContact main .contactContainer .contactForm {
  width: 70%;
  background-color: #0F614E;
  padding: 50px;
  -webkit-box-shadow: -35px 35px 0 -6px #86E0F9;
          box-shadow: -35px 35px 0 -6px #86E0F9;
  position: absolute;
  right: 0;
  top: -250px;
}

#pageContact main .contactContainer .aside {
  width: 30%;
}

/* Contact: Social Media */
.contactInfo h4 {
  font-size: 2.6rem;
  padding: 20px 0;
}

.socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socialMedia ul li {
  padding-right: 20px;
}

.socialMedia ul li i {
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: bold;
  font-weight: 400;
}

.socialMedia ul li i:hover {
  color: #b3b3b3;
}

@media (max-width: 940px) {
  #pageIndex .headerImage img {
    max-width: 450px;
    bottom: 0;
  }
  #pageIndex .article .articleContentOne {
    padding-right: 10px;
  }
  #pageIndex .article .articleContentTwo {
    padding-left: 10px;
  }
  #pageIndex .article p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  #pageIndex .article .articleRowOne,
  #pageIndex .article .articleRowTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #pageIndex .article .articleRowTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #pageIndex .article .articleImageOne,
  #pageIndex .article .articleImageTwo,
  #pageIndex .article .articleContentOne,
  #pageIndex .article .articleContentTwo {
    width: 100%;
    padding: 60px;
    margin: auto 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #pageIndex .article .articleImageOne {
    width: 100%;
  }
  #pageIndex .article .articleImageOne img,
  #pageIndex .article .articleImageTwo img {
    position: static;
  }
  #pageIndex .article .articleContentOne p,
  #pageIndex .article .articleContentTwo p {
    text-align: center;
    padding: 30px 0;
  }
  #pageIndex .extraInfo {
    height: 100%;
  }
  #pageIndex .infoContent {
    width: 100%;
  }
  #pageIndex .profile .profileContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #pageIndex .profile .profileImage {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #pageIndex .profile .profileContent {
    width: 100%;
    padding-left: 0;
  }
  #pageIndex .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #pageIndex .gallery ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  #pageIndex .headerContent {
    width: 100%;
  }
  #pageIndex h1 {
    font-size: 7rem;
    text-align: center;
    line-height: 1.2;
    margin-top: 0;
  }
  #pageIndex .headerImage img {
    width: 80%;
  }
  #pageIndex .about .aboutContainer {
    padding: 10px;
  }
  #pageIndex .about p {
    text-align: center;
  }
}

@media (max-width: 320px) {
  #pageIndex .article .articleImageOne,
  #pageIndex .article .articleImageTwo,
  #pageIndex .article .articleContentOne,
  #pageIndex .article .articleContentTwo {
    padding: 60px 0;
  }
  #pageIndex .infoTitle i {
    display: none;
  }
  #pageIndex .infoContent {
    padding: 50px 0;
  }
}

@media (max-width: 1300px) {
  #pageBlog .blogContainer .blogImage {
    top: -320px;
  }
}

@media (max-width: 940px) {
  #pageBlog h2 {
    padding-top: 0;
  }
  #pageBlog .blogContainer .blogArticle {
    padding: 100px 0 40px 50px;
  }
  #pageBlog .commentContainer {
    display: inherit;
  }
}

@media (max-width: 768px) {
  #pageBlog h2 {
    padding-top: 100px;
  }
  #pageBlog .blogContainer {
    display: inherit;
  }
  #pageBlog .blogContainer .blogImage {
    position: static;
    padding-top: 100px;
  }
  #pageBlog .blogContainer .blogArticle {
    padding: 100px 50px;
  }
  #pageBlog .blogContainer aside {
    width: 100%;
  }
  #pageBlog .blogContainer .sideContainer .sideImage {
    left: 50px;
  }
  #pageBlog .blogContainer .blogPost {
    width: 100%;
    margin-left: 0;
  }
  #pageBlog .blogContainer .commentContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 480px) {
  #pageBlog nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #pageBlog nav a {
    padding: 10px;
  }
  #pageBlog .blogContainer .sideContainer {
    padding-top: 250px;
  }
  #pageBlog .commentFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #pageBlog .commentFlexContainer div {
    width: 100%;
  }
  #pageBlog .commentContainer .commentText {
    padding-left: 20px;
  }
}

@media (max-width: 940px) {
  #pageContact main .contactContainer {
    display: inherit;
  }
  #pageContact main .contactContainer .contactForm {
    width: 100%;
    position: static;
  }
  #pageContact .contactInfo {
    text-align: center;
    padding-bottom: 50px;
  }
  #pageContact .socialMedia ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 480px) {
  #pageContact header h2 {
    margin-top: 0;
    text-align: center;
  }
  #pageContact .commentFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #pageContact .commentFlexContainer div {
    width: 100%;
  }
  #pageContact main .contactContainer .contactForm {
    padding: 20px;
  }
}

@media (max-width: 320px) {
  #pageContact main .contactContainer .contactForm {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 768px) {
  #pageIndex nav ul,
  #pageBlog nav ul,
  #pageContact nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #pageIndex nav ul li,
  #pageBlog nav ul li,
  #pageContact nav ul li {
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  #pageIndex nav,
  #pageBlog nav,
  #pageContact nav {
    position: relative;
  }
  #pageIndex .toggle,
  #pageBlog .toggle,
  #pageContact .toggle {
    display: block;
  }
  #pageIndex .menu,
  #pageBlog .menu,
  #pageContact .menu {
    z-index: 100;
  }
  #pageIndex nav ul,
  #pageBlog nav ul,
  #pageContact nav ul {
    position: fixed;
    right: 1000px;
    top: 100px;
    width: 30%;
    text-align: right;
    z-index: 100;
    opacity: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #pageIndex nav ul a,
  #pageBlog nav ul a,
  #pageContact nav ul a {
    padding: 10px;
    background-color: #86E0F9;
    border-radius: 10px;
  }
  #pageIndex nav ul a:hover,
  #pageBlog nav ul a:hover,
  #pageContact nav ul a:hover {
    border: none;
    color: #0C1423;
  }
  #pageIndex nav ul a:focus,
  #pageBlog nav ul a:focus,
  #pageContact nav ul a:focus {
    color: #263f6f;
  }
  #pageIndex .active,
  #pageBlog .active,
  #pageContact .active {
    right: 25px;
  }
}
